@import '_common';

header{
    background-color: #fff;
    position: relative;
    .head{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2% 1%;
        a:nth-of-type(1){
            img{
                width: 50%;
                }
            }
        a:nth-of-type(2){
            img{
                width: 50%;
            }
        }
    }
    .burgermenu{
        width: 100%;
        display: none;
        position: absolute;
        left: 0; top: 0;
        z-index: 1;
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 10px;        
            background-color: #ed1c24;
            a:nth-of-type(1){
                img{
                    width: 71px;
                    height: 17px;
                }
            }
            a:nth-of-type(2){
                img{
                    width: 14px;
                    height: 14px;
                }
            }
        }
        .list{
            background: #fff;
            padding-left: 30px; 
            ul{
                li{
                    position: relative;
                    a{
                        display: block;
                        font-family: 'Binggrae';
                        font-size: 16px;
                        color: #222;
                        border-bottom: 1px solid #e3e3e3;
                        padding: 3% 0;
                        &::after{
                            position: absolute;
                            content: '';
                            width: 11px;
                            height: 6.5px;
                            right: 25px; top: 24px;
                            background: url('../img/btn_on.png') no-repeat;
                            background-size: 100%;
                        }
                    }
                }
            }
        }
    }
    .burgermenu.active{
        display: block;
    }
}


main{
    width: 100%;
    .whole{
        .mainpage{
            width: 100%;
            position: relative;
            .txtbtn{
                background: #ffec48;
                padding: 11.7% 13%;
                h1{
                    font-family:  'Binggrae';
                    font-size: 1.5rem;
                }
                p:nth-of-type(1){
                    font-family: 'Binggrae-Bold';
                    font-size: 0.87rem;
                    color: #218dd0;
                    padding-top: 8%;
                }
                p:nth-of-type(2){
                    font-family: 'NotoSansKR';
                    font-size: 0.75rem;
                    padding: 5% 0;
                }
                a{
                    display: inline-block;
                    background: #fff;
                    color: #ed1c24;
                    font-family: 'NotoSansKR';
                    font-size: 0.75rem;
                    padding: 1.5% 3.5%;
                    border-radius: 30px;
                }
            }
            .visual{
                position: relative;
                .visualimg{
                    img{
                        width: 100%;
                        display: flex;
                    }
                }
                p{
                    position: absolute;
                    right: 1%; bottom: 5%;
                    color: #ffda14;
                    font-family: 'Binggrae-Bold';
                    font-size: 80px;
                    font-weight: 700;
                    line-height: 80px;
                    letter-spacing: -0.07em;
                    text-align: right;
                    text-transform: capitalize;
                }
            }
            .number{
                position: absolute;
                left: 0%; top: 20%;
                span{
                    font-size: 11px;
                    display: block;
                    color: #218dd0;
                    margin-left: 12px;
                }
                span:nth-of-type(1){
                    font-family: 'Binggrae-Bold';
                }
                hr{
                    width: 30px;
                    text-align: left;
                    margin-left: 0;
                }
                span:nth-of-type(2){
                    font-family: 'Binggrae';
                }
            }
        }
        .product{
            width: 100%;
            text-align: center;
            background: #e9e9e9;
            overflow: hidden;
            p:nth-of-type(1){
                padding-top: 4%;
                font-family: 'Binggrae-Bold';
                font-size: 0.8rem;
                color: #ed1c24;
                text-transform: capitalize;
            }
            h2{
                font-family: 'Binggrae';
                font-size: 1.4rem;
                color: #222222;
                b{
                    font-family: 'Binggrae-Bold';
                    font-size: 1.4rem;
                    color: #222222;
                } 
            }
            p:nth-of-type(2){
                font-family: 'NotoSansKR';
                font-size: 0.75rem;
                color: #222222;
                margin-top: 1%;
            }
            .productbtns{
                width: 100%;
                height: 16vw;
                margin: 5% 0;
                .btn{
                    display: inline-block;
                    width: 123px;
                    height: 123px;
                    margin: 0 1%;
                    color: #888;
                    background: #e9e9e9;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    font-family: 'NotoSansKR';
                    font-size: 28px;
                    vertical-align: middle;
                }
                .btn.active{
                    background: #0b8249;
                }
            }
            .product1{
                display: block;
                .swiper-wrapper{
                    position: relative;
                    padding: 15% 0;
                    .swiper-slide{
                        //display: inline-block;
                        p{
                            font-family: 'Binggrae';
                            font-size: 200px;
                            font-weight: 700;
                            letter-spacing: -0.5rem;
                            color: #0b8249;
                        }
                        img{
                            width: 282px;
                            position: absolute;
                            left: 50%; top: 50%;
                            transform: translate(-45%, -50%);
                        }
                    }
                }
                .producttxt{
                    padding: 3% 0 13%;
                    p:nth-of-type(1){
                        display:inline-block;
                        font-family: 'Binggrae';
                        font-size: 0.9rem;
                        font-weight: bold;
                        color: #0b8249;
                    }
                    p:nth-of-type(2){
                        display: inline-block;
                        font-family: 'Binggrae-Bold';
                        font-size: 0.7rem;
                        color: #0b8249;
                    }
                    p:nth-of-type(3){
                        font-family: 'NotoSansKR';
                        font-size: 0.75rem;
                        color: #666666;
                        margin-top: 1%;
                    }
                }
            }
            // .product1.active{
            //     display: none;
            // }
            .product2{
                display: none;
                .swiper-wrapper{
                    position: relative;
                    padding: 15% 0;
                    .swiper-slide{
                        //display: inline-block;
                        p{
                            font-family: 'Binggrae';
                            font-size: 26.25vw;
                            font-weight: 700;
                            letter-spacing: -0.5rem;
                            color: #823b0b;
                        }
                        img{
                            width: 34.66796875vw;
                            position: absolute;
                            left: 50%; top: 50%;
                            transform: translate(-45%, -50%);
                        }
                    }
                }
                .producttxt{
                    padding: 3% 0 13%;
                    p:nth-of-type(1){
                        display:inline-block;
                        font-family: 'Binggrae';
                        font-size: 0.9rem;
                        font-weight: bold;
                        color: #823b0b;
                    }
                    p:nth-of-type(2){
                        display: inline-block;
                        font-family: 'Binggrae-Bold';
                        font-size: 0.7rem;
                        color: #823b0b;
                    }
                    p:nth-of-type(3){
                        font-family: 'NotoSansKR';
                        font-size: 0.75rem;
                        color: #666666;
                        margin-top: 1%;
                    }
                }
            }
            .product2.active{
                display: block;
            }
            .product3{
                display: none;
                .swiper-wrapper{
                    position: relative;
                    padding: 15% 0;
                    .swiper-slide{
                        //display: inline-block;
                        p{
                            font-family: 'Binggrae';
                            font-size: 26.25vw;
                            font-weight: 700;
                            letter-spacing: -0.5rem;
                            color: #7aba0a;
                        }
                        img{
                            width: 34.66796875vw;
                            position: absolute;
                            left: 50%; top: 50%;
                            transform: translate(-45%, -50%);
                        }
                    }
                }
                .producttxt{
                    padding: 3% 0 13%;
                    p:nth-of-type(1){
                        display:inline-block;
                        font-family: 'Binggrae';
                        font-size: 0.9rem;
                        font-weight: bold;
                        color: #7aba0a;
                    }
                    p:nth-of-type(2){
                        display: inline-block;
                        font-family: 'Binggrae-Bold';
                        font-size: 0.7rem;
                        color: #7aba0a;
                    }
                    p:nth-of-type(3){
                        font-family: 'NotoSansKR';
                        font-size: 0.75rem;
                        color: #666666;
                        margin-top: 1%;
                    }
                }
            }
            .product3.active{
                display: block;
            }
            .product4{
                display: none;
                .swiper-wrapper{
                    position: relative;
                    padding: 15% 0;
                    .swiper-slide{
                        //display: inline-block;
                        p{
                            font-family: 'Binggrae';
                            font-size: 26.25vw;
                            font-weight: 700;
                            letter-spacing: -0.5rem;
                            color: #f32539;
                        }
                        img{
                            width: 34.66796875vw;
                            position: absolute;
                            left: 50%; top: 50%;
                            transform: translate(-45%, -50%);
                        }
                    }
                }
                .producttxt{
                    padding: 3% 0 13%;
                    p:nth-of-type(1){
                        display:inline-block;
                        font-family: 'Binggrae';
                        font-size: 0.9rem;
                        font-weight: bold;
                        color: #f32539;
                    }
                    p:nth-of-type(2){
                        display: inline-block;
                        font-family: 'Binggrae-Bold';
                        font-size: 0.7rem;
                        color: #f32539;
                    }
                    p:nth-of-type(3){
                        font-family: 'NotoSansKR';
                        font-size: 0.75rem;
                        color: #666666;
                        margin-top: 1%;
                    }
                }
            }
            .product4.active{
                display: block;
            }
            .product5{
                display: none;
                .swiper-wrapper{
                    position: relative;
                    padding: 15% 0;
                    .swiper-slide{
                        //display: inline-block;
                        p{
                            font-family: 'Binggrae';
                            font-size: 26.25vw;
                            font-weight: 700;
                            letter-spacing: -0.5rem;
                            color: #ff6e2e;
                        }
                        img{
                            width: 34.66796875vw;
                            position: absolute;
                            left: 50%; top: 50%;
                            transform: translate(-45%, -50%);
                        }
                    }
                }
                .producttxt{
                    padding: 3% 0 13%;
                    p:nth-of-type(1){
                        display:inline-block;
                        font-family: 'Binggrae';
                        font-size: 0.9rem;
                        font-weight: bold;
                        color: #ff6e2e;
                    }
                    p:nth-of-type(2){
                        display: inline-block;
                        font-family: 'Binggrae-Bold';
                        font-size: 0.7rem;
                        color: #ff6e2e;
                    }
                    p:nth-of-type(3){
                        font-family: 'NotoSansKR';
                        font-size: 0.75rem;
                        color: #666666;
                        margin-top: 1%;
                    }
                }
            }
            .product5.active{
                display: block;
            }
        }
        .pr{
            width: 100%;
            height: 840px;
            text-align: center;
            background: #ffec48;
            .prtxt{
                padding: 28px 0 32px;
                p:nth-of-type(1){
                    font-family: 'Binggrae-Bold';
                    font-size: 0.8rem;
                    color: #ed1c24;
                    text-transform: capitalize;
                }
                h3{
                    font-family: 'Binggrae';
                    font-size: 1.4rem;
                    color: #222222;
                    b{
                        font-family: 'Binggrae-Bold';
                        font-size: 1.4rem;
                        color: #222222;
                    }
                }
                p:nth-of-type(2){
                    font-family: 'NotoSansKR';
                    font-size: 0.75rem;
                    color: #222222;
                    margin-top: 10px;
                }
            }
            .slide_box{
                position: relative;
                overflow: hidden; 
                width: 100%;
                .swiper-wrapper{
                    width: 100%;
                    .swiper-slide{
                        padding: 20px 30px; 
                        width: 80%;
                        flex-shrink: 0;
                        &:first-child{
                        }
                        img{
                            width: 100%;
                            object-fit: cover;
                        }
                        .prtxt2{
                            
                            background: #fff;
                            margin: 0 auto;
                            padding: 15px;
                            text-align: left;
                            h4{
                                font-family: 'Binggrae-Bold';
                                font-size: 16px;
                                color: #222222;
                            }
                            p{
                                font-family: 'NotoSansKR';
                                font-size: 14px;
                                color: #444444;
                            }
                        }
                    }
                }
                
            }
            span{
                font-family: 'NotoSansKR';
                font-size: 12px;
                display: inline-block;
                padding: 5px 0;
                font-weight: 600;
                &:nth-of-type(1){
                    color: #ec1d25;
                }
            }
        }
    }
}



footer{
    width: 100%;
    height: 350px;
    background: #f6f6f6;
    .inner{
        position: relative;
        img{
            width: 101px;
            height: 26px;
            margin: 5% 5%;
        }
        span::after{
            content: '';
            width: 94%;
            left: 3%; top: 30%;
            border-bottom: 1px solid #e3e3e3;
            position: absolute;
        }
        .innercenter{
            text-align: center;
            color: #666666;
            font-family: 'NotoSansKR';
            .innerlink{
                margin: 5% 0;
                a:nth-of-type(1){
                    color: #666666;
                    font-size: 14px;
                    font-weight: bold;
                    &::after{
                        content:'|';
                        margin: 3%;
                        color: #cccccc;
                    }
                }
                a:nth-of-type(2){
                    color: #666666;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
            .service{
                margin: 2% 0;
                p{
                    font-size: 13px;
                    &:nth-of-type(1){
                        display: inline-block;
                    }
                }
                .question{
                    font-size: 13px;
                    background: #fff;
                    color: #444444;
                    border: 1px solid #cccccc;
                    padding: 1% 2%;
                    &::after{
                        content: '>';
                        font-size: 10px;
                        color: #444444;
                        margin-left: 2%;
                    }
                }
            }
            p{
                font-size: 13px;
                line-height: 20px;
                &:nth-of-type(3){
                    margin: 3% 0;
                }
            }
        }
    }
}



        .topbtn{
            z-index: 9;
            button{
                width: 43px;
                height: 43px;
                border: none;
                border-radius: 50%;
                background: #fff;
                position: fixed;
                right: 5%; bottom: 3%;
                span{
                    font-family: 'Binggrae-Bold';
                    font-size: 12px;
                    color: #666666;
                }
            }
        }
