@font-face {
  font-family: 'Binggrae';
  src: url(../font/BinggraeA1.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Binggrae-Bold';
  src: url(../font/Binggrae-BoldA1.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansKR';
  src: url(../font/NotoSansKR-Regular-Alphabetic.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h5, figure, p {
  margin: 0;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

header {
  background-color: #fff;
  position: relative;
}

header .head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 1%;
}

header .head a:nth-of-type(1) img {
  width: 50%;
}

header .head a:nth-of-type(2) img {
  width: 50%;
}

header .burgermenu {
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

header .burgermenu .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 10px;
  background-color: #ed1c24;
}

header .burgermenu .top a:nth-of-type(1) img {
  width: 71px;
  height: 17px;
}

header .burgermenu .top a:nth-of-type(2) img {
  width: 14px;
  height: 14px;
}

header .burgermenu .list {
  background: #fff;
  padding-left: 30px;
}

header .burgermenu .list ul li {
  position: relative;
}

header .burgermenu .list ul li a {
  display: block;
  font-family: 'Binggrae';
  font-size: 16px;
  color: #222;
  border-bottom: 1px solid #e3e3e3;
  padding: 3% 0;
}

header .burgermenu .list ul li a::after {
  position: absolute;
  content: '';
  width: 11px;
  height: 6.5px;
  right: 25px;
  top: 24px;
  background: url("../img/btn_on.png") no-repeat;
  background-size: 100%;
}

header .burgermenu.active {
  display: block;
}

footer {
  width: 100%;
  height: 350px;
  background: #f6f6f6;
}

footer .inner {
  position: relative;
}

footer .inner img {
  width: 101px;
  height: 26px;
  margin: 5% 5%;
}

footer .inner span::after {
  content: '';
  width: 94%;
  left: 3%;
  top: 30%;
  border-bottom: 1px solid #e3e3e3;
  position: absolute;
}

footer .inner .innercenter {
  text-align: center;
  color: #666666;
  font-family: 'NotoSansKR';
}

footer .inner .innercenter .innerlink {
  margin: 5% 0;
}

footer .inner .innercenter .innerlink a:nth-of-type(1) {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
}

footer .inner .innercenter .innerlink a:nth-of-type(1)::after {
  content: '|';
  margin: 3%;
  color: #cccccc;
}

footer .inner .innercenter .innerlink a:nth-of-type(2) {
  color: #666666;
  font-size: 14px;
  font-weight: bold;
}

footer .inner .innercenter .service {
  margin: 2% 0;
}

footer .inner .innercenter .service p {
  font-size: 13px;
}

footer .inner .innercenter .service p:nth-of-type(1) {
  display: inline-block;
}

footer .inner .innercenter .service .question {
  font-size: 13px;
  background: #fff;
  color: #444444;
  border: 1px solid #cccccc;
  padding: 1% 2%;
}

footer .inner .innercenter .service .question::after {
  content: '>';
  font-size: 10px;
  color: #444444;
  margin-left: 2%;
}

footer .inner .innercenter p {
  font-size: 13px;
  line-height: 20px;
}

footer .inner .innercenter p:nth-of-type(3) {
  margin: 3% 0;
}
/*# sourceMappingURL=sub.css.map */